<article class="post">
    <%- partial('_partial/article-header') %>

    <div class="post-content">
        <%- item.content %>
    </div>

    <!-------------------- 上下篇 -------------------->

</article>