<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<title><%= config.title %></title>
	<link rel="icon" href="<%- theme.favicon %>">

	<%- css('css/style.css')%>
	<link href="//at.alicdn.com/t/font_1660778_ufn05bndyb.css" rel="stylesheet">
	
	<link href="//cdn.jsdelivr.net/gh/CN-DXTZ/CN-DXTZ.github.io/css/third%20party/prism.min.css" rel="stylesheet">
	
	<link href="//cdn.jsdelivr.net/gh/CN-DXTZ/CN-DXTZ.github.io/css/third%20party/jquery.fancybox.min.css" rel="stylesheet">
</head>