// Config

// Colors
color-green0 = #E8F5E9
color-green01-3 = #d8f1db
color-green01-6 = #cfefd3
color-green1 = #C7EDCC // 护眼绿
color-green12-2 = #bfe7c3
color-green12-4 = #b6e2ba
color-green12-5 = #b2dfb5
color-green2 = #A5D6A7
color-green3 = #81C784
color-green4 = #66BB6A
color-green5 = #4CAF50
color-green6 = #43A047
color-green7 = #388E3C
color-green8 = #2E7D32
color-green9 = #1B5E20

color-green-comp8= #09af00

color-font = #0D2F0F

color-orange1 = #FFE0B2
color-orange2 = #FFCC80
color-orange3 = #FFB74D
color-orange4 = #FFA726
color-orange5 = #FF9800
color-orange6 = #FB8C00
color-orange7 = #F57C00
color-orange8 = #FF6F00
color-orange9 = #FF5722

color-shadow = rgba(0,0,0,0.19)



// Fonts
