.footer{
	background: linear-gradient(to right, color-green3, color-green6, color-green3);
	display: flex;
    flex-direction: column;
    align-items: center;

	.platform {
		margin-top: 2vw;
		.iconfont{
			font-size: 3vw;
			margin: 0 .75vw;
			color: white;
			text-decoration: none;
		}
	}

	.copyright-info{
		font-size: 1.7vw;
		margin: 1.2vw 0 2vw 0;
		color: white;
		font-weight: bold;
		a {
			text-decoration: none;
			color: white;
		}
	}	
}