.pager-nav{
	text-align: center;
	position: relative;
	top: -2vw;

	a{
		text-decoration: none;
	}
	.page-number, .extend{
		display: inline-block;
		padding: .3vw 1vw;
		margin: .5vw;
		color: white;
		font-size: 1.5vw;
		background-color: color-green5;
		border-radius: .3vw;
		&:hover{
			background-color: color-orange4;
		}
	}
	.current{
		background-color: color-orange8;
	}
	.space{
		color: color-font;
	}
}