.posts .post .readmore{
	margin-top: 0.5vw; 
	padding-bottom: 1vw; 
	a{
		color: color-green8;
		font-size: 1.7vw;
		font-weight: bold;

		text-decoration: none;
		padding: .4vw .8vw;
		border: .1vw solid color-green5;
		border-radius: .8vw;

		transition: 0.5s;
		&:hover{
			color: white;
			background-color: color-orange4;
			border-color: color-orange4;
		}
	}
}