.posts .post .post-nav {
    width: 115%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.8vw;
    padding: 1.7vw 0;
    border-top: 1px dashed color-green4; 

    a {
        color: color-green-comp8;
        font-size: 1.5vw;
		text-decoration: none;
        transition: 0.5s;
		&:hover	{
			color: color-orange8;
		}
        .iconfont {
            font-size: 1.5vw;
        }
	}

	.post-nav-prev a{
        float: left;
        &:hover{
            transform: translate(-1vw, 0);
        }

        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 110%;
            left: 0;
            width: 100%;
            height: .2vh;
            background-color: color-orange8;
            transform: scale(0);
            transition: 0.5s;
            transform-origin: right;
        }
        &:hover::after{
            transform: scale(1);
        }
	}
	.post-nav-next a{
        float: right;
        &:hover {
            transform: translate(1vw, 0);
        }

        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 110%;
            left: 0;
            width: 100%;
            height: .2vh;
            background-color: color-orange8;
            transform: scale(0);
            transition: 0.5s;
            transform-origin: left;
        }
        &:hover::after{
            transform: scale(1);
        }
	}
}


.posts .post-toc{
    position: absolute;
    top: calc(12vw + 0.75vh);		
    background: color-green01-4;
    border-radius: .5vw;
    box-shadow: 0.1vw 0.15vw 0.25vw 0.1vw color-shadow;
    transition-property: box-shadow, transform, left;
    transition-duration: 0.3s;

    &:hover{
        box-shadow: 0 0 0.8vw 0.4vw color-shadow;
    }
    
	.toc-title{
        background-color: color-green4;
        height: 2.9vw;
        line-height: 2.9vw;
        text-align: center;
        font-size: 1.3vw;
        font-weight: bold;
        color: white;
        vertical-align: center;
        // padding: .7vw 0;
        border-top-left-radius: .4vw;
        border-top-right-radius: .4vw;
        transition-duration: 0.3s;

        .iconfont{
            font-size: 1.2vw;
        }
        .icon-mulu{
            position: relative;
        }
        .icon-houtui{
            float: right;
            background-color: color-green-comp8; 
            border-top-right-radius: .4vw;
            height: 100%;
            width: 2.5vw;
        }
	}

	.toc>li.toc-item>a.toc-link{
			font-weight:bold;
    }

	.toc{
		width: 18.1vw;
        max-height: 70vh;
		overflow-y: auto;
		margin: 0;
		padding: .6vw 0;
        &::-webkit-scrollbar{
        	width: 0.35vw; 
        }
		&::-webkit-scrollbar-thumb{
			background-color: color-green4;
		}

		li{
			list-style: none;
			line-height: 1.4vw;
		}
		.toc-item{
			padding: 0 0.3vw;
		}
		.toc-child{
			padding-left: 0.7vw;
            li{
                padding: 0;
            }
		}

		a{
			color: color-font;
			font-size: 1.15vw;
			display: block;
			text-decoration: none;
			padding: .25vw .3vw;
            transition: 0.3s;
            &:hover{
                color: color-orange8 !important;
                border-left: .3vw solid color-orange4;
                border-radius: .2vw;
                background-color: color-green12-4;
            }
		}
	}	
}
.actived{
	background-color: color-green4;
	color: white !important;
    border-radius: .2vw;
	border-left: .3vw solid color-green6;
	transition: .3s;
}